.border-container {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 70%; 
    margin: auto;
    min-height: calc(100vh - 100px);
}

.custom-img {
    max-width: 250px; 
    width: 100%;
    height: auto;
}
