<div class="d-flex align-items-center justify-content-center vh-100 ">
  <div class="container text-center custom-container">
    <h1 class="mb-4">Organización de Personas</h1>
    <div class="row mt-4">
      <div class="col-12 mb-2">
        <button routerLink="/registro" class="btn btn-primary btn-block custom-btn">Registro</button>
      </div>
      <div class="col-12 mb-2">
        <button routerLink="/resultados" class="btn btn-success btn-block custom-btn">Resultados</button>
      </div>
      <div class="col-12 mb-2">
        <button routerLink="/acercade" class="btn btn-info btn-block custom-btn">Acerca de mí</button>
      </div>
    </div>
  </div>
</div>
